body{
    background-color: black;
    color: white;
}
.top-bar{
    display:flex;
    justify-content: space-between;
    position:relative;
}
.logo_container{
    display:flex;
    align-items: center;
    gap:10px;
    margin-left:10px;
    cursor: pointer;
}
.search_container{
    display:flex;
    width:320px;
    height: 44px;;
    position:relative;
    gap:10px;
}
#logo{
    width:123px;
    height:20px;
    margin-right:10px;
}
#input{
    width: 100%;
    border-radius: 10px;
    border: 1px solid #ccc;
    padding: 0 10px;
}
#search_btn{
    position:absolute;
    width:24px;
    height:24px;
    top: 8px;
    bottom:5px;
    right:10px;
    background-color: white;;
    background-image: url('/src/assets/search_button.png');
    background-size: cover;
    border: none;
    cursor: pointer;
}
#page_title{
    width:920px;
    height: 36px;
    font-size: 25px;
    margin-left:10px;
}
hr{
    margin-top:10px;
}
.main_container{
    width:890px;
    height:100%;
    margin:auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top:20px;
    margin-bottom:20px;
}

.movie_poster{
    width:182px;
    height:273px;
    margin:10px;
    border-radius:10px;
}
.movie_name{
    align-self: flex-start;
    font-size: 18px;
}
.popularMovie_container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 190px;
    height: 359px;
    margin-right :32px;
    margin-bottom:20px;
}
.plus_btn{
    width:890px;
    height:60px;
    margin-top:10px;
    margin-bottom:20px;
    margin:auto;
    background-color: red;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color:white;
    border:none;
    
}
.btn_container{
    display:flex;
    justify-content: center;
}

.rating_container{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width: 190px;
    height: 27px;
    position:relative;
    align-self:flex-start;
    margin-left:0px;
}
.star_icon{
    width:20px;
    height:20px;
    position:absolute;
    left:25px;
    bottom:6px;
}
.rating{
    font-size: 18px;
    
}
.err_container{
    margin:auto;
    align-self:center;
}
.no_result{
    font-size: 20px;
    color:#cccccc80;
}
